.content {
  position: relative;
  display: grid;
  grid-template-areas: "sidebar content";
}

.content_section {
  grid-area: sidebar;
  display: grid;
  height: 100%;
}

.content_section {
  grid-area: content;
  display: grid;
  &_element {
    min-height: 100dvh;
  }
}
