<p>home works!</p>

<main class="content">
  <section class="content_sidebar">
    <app-sidebar />
  </section>
  <section class="content_section">
    <section class="content_section_element" id="works">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ipsa nobis
      incidunt nostrum placeat laboriosam minus maiores corrupti totam modi
      blanditiis, velit ipsum rerum qui illum aut! Rem, maxime fugit!
    </section>
    <section class="content_section_element" id="languages">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
      reprehenderit rem quo saepe quos! Nulla exercitationem nam tempore
      distinctio, consectetur placeat cumque molestias ipsam, eos
      necessitatibus, error dolorum accusantium ut.
    </section>
    <section class="content_section_element" id="projects">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ratione
      perspiciatis accusamus eveniet tempora similique voluptatem natus, alias
      quas nostrum voluptate delectus nulla minima aut modi dolorum, enim a.
      Delectus.
    </section>
    <section class="content_section_element" id="achievements">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non excepturi
      ullam ducimus architecto modi voluptate, eaque dolorum numquam nam
      reiciendis, consequuntur quis aspernatur! Totam delectus odit quibusdam
      dolorum? Repellat, pariatur!+
    </section>
    <section class="content_section_element" id="contact">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quam
      autem saepe molestias laudantium vitae, ipsam consequuntur amet, est dicta
      temporibus. Rerum animi nihil ullam quod autem pariatur architecto
      possimus!
    </section>
  </section>
</main>
