.sidebar {
  position: sticky;
  background: var(--mat-sys-inverse-primary);
  top: calc(50% - 25dvh);
  display: grid;
  gap: 0.5rem;
  width: 250px;
  padding: 3rem 1rem 1rem 1rem;
  list-style: none;
  border-radius: calc(
    var(--mat-sys-corner-medium) + var(--mat-sys-corner-small)
  );
  box-shadow: var(--mat-sys-level4);
  transition: all 0.3s;

  &_logo {
    position: absolute;
    top: -2.5rem;
    left: calc(50% - 2.5rem);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid var(--mat-sys-primary);
    box-shadow: var(--mat-sys-level4);
  }

  &_item {
    position: relative;
    a {
      color: var(--mat-sys-primary);
      background-color: var(--mat-sys-on-primary);
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.75rem;
      border-radius: var(--mat-sys-corner-medium);
      box-shadow: var(--mat-sys-level1);
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: var(--mat-sys-on-primary-container);
        color: var(--mat-sys-on-primary);
        box-shadow: var(--mat-sys-level2);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
