<h2
  class="text-6xl font-bold flex items-center gap-4 tracking-wide uppercase mb-12 rounded-2xl border border-white/5 bg-black/5 dark:bg-black/5 backdrop-blur-md shadow-[inset_0_1px_0_0_rgba(0,0,0,0.06)] dark:shadow-[inset_0_1px_0_0_rgba(255,255,255,0.06)] hover:border-black/20 transition-all duration-300 cursor-default p-6"
>
  Resources
</h2>

<!-- template in develop -->

<section
  class="flex flex-col gap-4 rounded-2xl border border-white/5 bg-black/5 dark:bg-black/5 backdrop-blur-md shadow-[inset_0_1px_0_0_rgba(0,0,0,0.06)] dark:shadow-[inset_0_1px_0_0_rgba(255,255,255,0.06)] hover:border-black/20 transition-all duration-300 cursor-default p-6"
>
  <h3 class="text-3xl font-bold tracking-wide uppercase">
    This page is under development
  </h3>
  <p class="text-xl font-semibold tracking-wide uppercase">
    Stay tuned for updates! 🚀
  </p>
</section>
